<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to 'Zachary Pearson', root_path, id: "name" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Education", education_path %></li>
        <li><%= link_to "Work History", bio_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</header>
